:root {
  --primary: #255957;
  --secondary: #eeebd3;
  --body-bg: #dfebce80;
  --primary-dimmed: rgba(37, 89, 87, 0.502);
}
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}
